
.close-button, .reveal-action, input, .button, .menu a {
  transition: box-shadow 0.25s ease;
}

[type="checkbox"] {
  &::before,
  &::after {
    transition: box-shadow 0.25s ease, border-width 0.2s ease, opacity 0.35s ease;
  }
}

.dropdown-pane {
  transition: all 0.25s ease;
  ul li {
    transition: transform 0.35s ease;
  }
}