body {
  font-family: $font-family-sans-serif;
  color: $gray-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  letter-spacing: $letter-spacing-md;
}
h2 {
  font-size: 1.5rem;
  line-height: 1.33333;
  letter-spacing: $letter-spacing-md;
}
h3 {
  font-size: 1.125rem;
  line-height: 1.33333;
  letter-spacing: $letter-spacing-md;
}
h4 {
  font-size: 1rem;
  line-height: 1.5;
}
h5 {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: $font-weight-medium;
}
label {
  font-size: $font-size-sm;
  line-height: 1.5;
}

.number {
  font-family: $font-family-mono;
  font-size: 2.5rem;
  font-weight: $font-weight-light;
  line-height: 1.25;
  letter-spacing: -0.05em;
}